<nav class="navbar bottom-20">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/home']">
      GameRules
    </a>
  </div>
  <div class="navbar-start">
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link  is-active">
         Μενυ
      </a>
      <div class="navbar-dropdown is-boxed ">
        <a class="navbar-item" [routerLink]="['/products']">
          Επιτραπέζια
        </a>
      </div>
    </div>
  </div>
</nav>
<div class="container is-fluid">
  <router-outlet></router-outlet>
</div>