<nav class="navbar ">
    <div id="navMenubd-example" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" [routerLink]="['/home']" [routerLinkActive]="['active']">
                    <span class="icon">
                            <i class="fa fa-github"></i>
                          </span> Home
                </a>
            <a class="navbar-item" [routerLink]="['/counter']" [routerLinkActive]="['active']">
                    <span class='glyphicon glyphicon-education'></span> Counter
                </a>
            <a class="navbar-item" [routerLink]="['/fetch-data']" [routerLinkActive]="['active']">
                    <span class='glyphicon glyphicon-th-list'></span> Fetch data
                </a>
        </div>
    </div>
</nav>